<!doctype html>
<html lang="{{ .Language.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }} | {{ .Site.Title }}
      {{ end }}
    </title>

    {{ $opts := dict "inlineImports" true }}
    {{ with resources.Get "css/styles.css" | postCSS $opts }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }}
  </head>
  <body>
    <div id="site">
      {{ partial "sidebar.html" . }}

      <main class="content {{ with .Params.layout }}layout-{{ . }}{{ end }}">
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    {{ with resources.Get "js/page.js" | js.Build }}
      <script src="{{ .RelPermalink }}"></script>
    {{ end }}
  </body>
</html>
