{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $datetime := time.Format "2006-01-02" .Date }}
  <p class="post-meta">
    <time datetime="{{ $datetime }}">
      <strong>Created at:</strong> {{ .Date | time.Format ":date_long" }}
    </time>
    <br />
    <time datetime="{{ $datetime }}">
      <strong>Updated at:</strong> {{ .Lastmod | time.Format ":date_long" }}
      (<a
        href="{{ $.Site.Params.repo.url }}/commit/{{ .GitInfo.Hash }}"
        target="_blank"
        >{{ .GitInfo.AbbreviatedHash }}</a
      >)
    </time>
  </p>

  <div id="content">
    {{ .Content }}
  </div>
{{ end }}
