---
interface Props {
  href: string;
  isExternal?: boolean;
}

const { href, isExternal = false } = Astro.props;

const externalProps = isExternal
  ? { target: '_blank', rel: 'noreferrer noopener' }
  : {};
---

<a {...externalProps} href={href}><slot /></a>
<style>
  a {
    color: rgb(30 64 175);
    cursor: pointer;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline solid;
  }
</style>
